<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<form method="post" action="">
  <input type="number" name="parameter1" placeholder = "enter a" required>
  <select name="selection">
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="*">*</option>
      <option value="/">/</option>
  </select>
  <input type="number" name="parameter2" placeholder = "enter b" required>
  <button type="submit">calculate</button>
</form>
</body>
</html>